@font-face {
    font-family: 'Open Sans'; 
    src: url(../font/OpenSans-Regular.ttf); 
 }
 .background{
 	background-color: #f9f9f9;
 }
.wrapper{
	width: 1060px;
	height: 100%;
	margin: 0 auto;
	box-shadow: -10px 0 8px -8px #dbdbdb, 10px 0 8px -8px #dbdbdb;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
}
.container{
	width: 965px;
	margin: 0 auto;
}
header{
	display: block;
	padding-top: 50px;	
}
.nav{
	margin-top: 30px;
	background-color: #4f4f4f;
}
.nav li{
	display: inline-block;
	width: 100px;
	margin-right: 20px;
	padding: 10px 0;
	text-align: center;
	 -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	   box-sizing: border-box;
}
.nav li:first-child{
	margin-left: 30px;
}
.nav li a{
	text-shadow: 0.5px 0.866px 1px rgb( 0, 0, 0 );
	font: 15px 'Open Sans', sans-serif; 
	text-decoration: none;
	color: #ececec;
}	
.active{
	background-color: #404040;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
} 
.nav li:hover{
	background-color: #404040;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;

} 
aside{
	width: 240px;
	float: left;
    display: block;
    margin-top: 40px;
}
.side-bar li {
	padding: 12px 0 9px 25px;
	border: 1px solid #c8c8c8;
	border-bottom: none;
}
.side-bar li:last-child{
	border-bottom: 1px solid #c8c8c8; 
}
.side-bar li a{
	font: 14px 'Open Sans', sans-serif; 
	text-decoration: none;
	color: #adacac;
}
.side-bar li:nth-child(even){
	background: #fff;
}
.side-bar li:nth-child(odd){
	background: #f9f9f9;
}
.side-bar li a:hover{
	padding-left: 20px;
	color: #2c2c2c;
}
article{
	float: right;
	margin-top: 40px;
	margin-bottom: 60px;
	
}
article img{
	padding: 50px 80px;
	border: 1px solid #c8c8c8;
}

article p {
	width: 630px;
	margin-left: 20px;
	margin-top: 30px;
	line-height: 1.5;
	font: 13px 'Open Sans', sans-serif; 
	color: #2c2c2c;
}
footer{
	height: 40px;
	clear:both;
	margin-bottom: 60px;
	background-color: #e1e1e1;
}
.nav-2 li {
	position: relative;
	float: left;
	margin-right: 90px;
	padding: 10px 0;

}
.nav-2 li:first-child{
	margin-left: 30px;
}
.nav-2 li a{
	font: 14px 'Open Sans', sans-serif; 
	text-decoration: none;
	color: #515151;
}
.nav-2 li a:hover{
	border-bottom: 1px solid #515151;
} 
footer span{
	float:right;
	padding: 10px 25px 0 0;
	font: 14px 'Open Sans', sans-serif; 
	color: #515151;
}


