body{
	background: url(../img/background.jpg) no-repeat fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrapper{
	margin: 0 auto;
    padding-top: 37px;
}
.container{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	background: #fff;
	-webkit-box-shadow: -1px 7px 12px -1px #000000;
     -moz-box-shadow: -1px 7px 12px -1px #000000;
      box-shadow: -1px 7px 12px -1px #000000;
}
header{
	padding-top: 9px;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.logo{
	float:left;
	margin-left: 25px;
}
.header-right{
	float: right;
	margin-right: 30px;
}
.contacts{
	margin-left: 205px;
	margin-bottom: 25px;
	padding: 5px 10px;
}
.contacts li:first-child{
	font: 12px Tahoma, sans-serif;
	color: #128aa7;
}
.contacts li a{
	font: 12px Tahoma, sans-serif;
	color: #128aa7;
	text-decoration: none;
}
.country img{
	display: block;
	text-align: center;
}
.country li{
	display: inline-block;
	padding: 0 5px;
	text-align: center;
	font: 10px Tahoma, sans-serif;
}
.country li a{
	color: #128aa7;
}
.h-image {
	border-top: 2px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}
.nav{
	float: left;
	width: 100%;
	background-color: #333333;
	font: 14px Tahoma, sans-serif;
	-webkit-box-shadow: 0 -4px 0 0 #cacbcb;
     -moz-box-shadow: 0 -4px 0 0 #cacbcb;
	   box-shadow: 0 -4px 0 0 #cacbcb;
	   box-shadow: 0 4px 3px 0 #000000;
}
.nav li{
	float: left;
	display: block;
	position: relative;
	padding: 5px 45px 5px 10px;
}
.nav .list-1{
	margin-left: 65px;
}
.nav li a{
	display: block;
	padding: 5px;
	color:#fff;
	text-decoration:none;
}
.triangles:after{
	content: "";
	display: block;
	position: absolute;
	top: 17px;
	right: 40px;
	width: 5px;
	height: 6px;
	background: url(../img/triangles.png);	
}
.nav .dropdown{
	display: none;
	position: absolute;
	left: 0; 
	top: 100%;
}
.nav .dropdown li {
	float: none;
	width: 73%;
	display: block;
	position: relative;
	background-color: rgb( 48, 48, 48 );
	line-height: 10px;
	-webkit-box-shadow: 2px 4px 5px 0 #000000;
  	 -moz-box-shadow: 2px 4px 5px 0 #000000;
	   box-shadow: 2px 4px 5px 0 #000000;
	z-index: 1;
}
.nav li ul li:hover{
	background: #4c4949;
}
.nav li:hover .dropdown {
display: block;
}
.fon {
    width: 1000px; 
	overflow: hidden;
}
.leftColumn {
	width: 210px;
	float: left;
	text-align: center;
	background-color: #edeef0;
	padding-bottom: 20000px;
	margin-bottom: -20000px;

}
.centerColumn {
	width: 580px;
	float: left;
	background: #fff;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}
.rightColumn {
	width: 210px;
	float: right;
	text-align: center;
	padding: 5px 0;
	background-color: #edeef0;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}
h3 {
	font: 18px Tahoma,sans-serif;
	padding: 5px 0;
}
.leftColumn p,
.rightColumn p{
	font: 14px Tahoma,sans-serif;
	line-height: 1.5;
	margin: 0 20px 15px 15px;
}
.footer{
	padding: 15px 0;
	font: 12px Tahoma, sans-serif;
	color: #fff;
	text-align: center;
}


