@font-face {
    font-family: 'HelveticaNeue'; 
    src: url(../font/HelveticaNeue.ttf); 
 }
.clearfix::after{
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.wrapper{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
header{
	width: 100%;
	height: 46px;
	background-color: #074e8b; 
}
a{
	text-decoration: none;
}
.header_menu{
	float: right;
}
.left-list{
	float: left;
}
.left-list li{
	display: block;
	float: left;
}
.left-list li a{
	display: block;
	padding: 15px;
	font: 14px 'HelveticaNeue', Arial, sans-serif;
	color: #60b5ed;
}
.left-list li:last-child{
	margin-right: 30px;
	border-right: 1px solid #60b5ed; 
} 
.left-list li a:hover{
	color: #fff;
	background-color: #4eabda;
}
.right-list{
		float: left;
}
.right-list li{
	display: block;
	float: left;
	padding: 15px;
	margin-right: 20px;
	font: 14px 'HelveticaNeue', Arial, sans-serif;
	color: #fff;
}
.right-list li a{
	font: 14px 'HelveticaNeue', Arial, sans-serif;
	color: #fff;
}
.right-list li a:hover{
	border-bottom: 1px solid #abc6e4;
}
.right-list img{
	float: left;
	position: relative;
  bottom: 7px;
  right: 7px;
}
.menu_bg{
	background: rgb(76,168,217);
  background: -moz-linear-gradient(top, rgba(76,168,217,1) 12%, rgba(46,122,196,1) 94%, rgba(76,168,217,1) 94%, rgba(76,168,217,1) 94%, rgba(46,122,196,1) 94%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,rgba(76,168,217,1)), color-stop(94%,rgba(46,122,196,1)), color-stop(94%,rgba(76,168,217,1)), color-stop(94%,rgba(76,168,217,1)), color-stop(94%,rgba(46,122,196,1)));
  background: -webkit-linear-gradient(top, rgba(76,168,217,1) 12%,rgba(46,122,196,1) 94%,rgba(76,168,217,1) 94%,rgba(76,168,217,1) 94%,rgba(46,122,196,1) 94%);
  background: -o-linear-gradient(top, rgba(76,168,217,1) 12%,rgba(46,122,196,1) 94%,rgba(76,168,217,1) 94%,rgba(76,168,217,1) 94%,rgba(46,122,196,1) 94%);
  background: -ms-linear-gradient(top, rgba(76,168,217,1) 12%,rgba(46,122,196,1) 94%,rgba(76,168,217,1) 94%,rgba(76,168,217,1) 94%,rgba(46,122,196,1) 94%);
  background: linear-gradient(to bottom, rgba(76,168,217,1) 12%,rgba(46,122,196,1) 94%,rgba(76,168,217,1) 94%,rgba(76,168,217,1) 94%,rgba(46,122,196,1) 94%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ca8d9', endColorstr='#2e7ac4',GradientType=0 );
}
.container{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
  left: 0;
  top: 46px;
	background: url(../img/background.jpg) no-repeat center center fixed;

}
.form{
	width: 560px;
	height: 615px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -310px 0 0 -260px;
	background: rgba(64, 68, 58);
	background: rgba(64, 68, 58, 0.5);
}
.form h1{
	margin-bottom: 35px;
	padding: 20px 0;
	font: 24px 'HelveticaNeue', Arial, sans-serif;
	color: #fff;
	text-align: center;
	border-bottom: 2px solid #c9cfc1;

}
.list{
	display: block;
	width: 276px;
	margin: 0 auto;
}
.fb_button a{
	margin: 0 auto;
}
.ou {
	width: 276px;
	text-align: center;
}
.ou h5 {
	width: 276px; 
  	display: inline-block;
  	vertical-align: middle;
  	position: relative;
  	padding-top: 15px;
  	font: 14px 'HelveticaNeue', Arial, sans-serif;; 
  	color: #999;
}
.ou h5::before,
.ou h5::after {
  	content: "";
  	position: absolute;
  	border-bottom: 1px solid #000;
  	border-top: 1px solid #666;
  	top: 20px;
  	width: 110px;
}
.ou h5::before {
   right: 50%;
   margin-right: 25px;
}
.ou h5::after {
  	left: 50%;
 	 margin-left: 25px;
}

input{
	border: none;
}
.list input[type="text"], 
[type="password"], 
[type="email"]{
	width: 258px;
	margin-top: 20px;
	padding: 10px 0 12px 18px;
	background: #0f0f0f;
	border-bottom: 1px solid #474747;
}
.list input[type="text"]:focus, 
[type="password"]:focus, 
[type="email"]:focus{
	background-color: #1b5288;
	box-shadow: 0 0 6px 3px #689bcc;
} 
::-webkit-input-placeholder{
	font: 14px 'HelveticaNeue', Arial, sans-serif;
	color:#ccc;
}
::-moz-placeholder{
	font: 14px 'HelveticaNeue', Arial, sans-serif;
	color:#ccc;
}
:-moz-placeholder{
	font: 14px 'HelveticaNeue', Arial, sans-serif;
	color:#ccc;
} 
:-ms-input-placeholder{
	font: 14px 'HelveticaNeue', Arial, sans-serif;
	color:#ccc;
}
:focus::-webkit-input-placeholder{
	color: #fffcfc;
}
:focus::-moz-placeholder{
	color: #fffcfc;
}
:focus:-moz-placeholder{
	color: #fffcfc;
}
:focus:-ms-input-placeholder{
	color: #fffcfc;
}
 .checkbox input[type="checkbox"]{
	margin-top: 20px;
	
}
 .checkbox input[type="checkbox"]+label{
 	font: 14px Tahoma, sans-serif;
	color: #ccc;
 }
.list input[type="submit"]{
	margin-left: 65px;
	margin-top: 20px;
	padding: 10px;
	border: none;
	font: 14px 'HelveticaNeue', Arial, sans-serif;
	color: #fff;
background: rgb(79,172,218);
background: -moz-linear-gradient(top,  rgba(79,172,218,1) 0%, rgba(74,164,215,1) 8%, rgba(71,160,213,1) 17%, rgba(55,136,202,1) 50%, rgba(52,131,200,1) 67%, rgba(47,124,197,1) 88%, rgba(46,122,196,1) 100%);
background: -webkit-linear-gradient(top,  rgba(79,172,218,1) 0%,rgba(74,164,215,1) 8%,rgba(71,160,213,1) 17%,rgba(55,136,202,1) 50%,rgba(52,131,200,1) 67%,rgba(47,124,197,1) 88%,rgba(46,122,196,1) 100%);
background: linear-gradient(to bottom,  rgba(79,172,218,1) 0%,rgba(74,164,215,1) 8%,rgba(71,160,213,1) 17%,rgba(55,136,202,1) 50%,rgba(52,131,200,1) 67%,rgba(47,124,197,1) 88%,rgba(46,122,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4facda', endColorstr='#2e7ac4',GradientType=0 );

}
.container span{
	display: block;
	width: 330px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	font: 11px 'HelveticaNeue', Arial, sans-serif;
	color: #ccc;
}


